.bottomLayout{
    display: flex; 
    flex-direction: column; 
    
} 
.dropDown{
    border-radius: 10px;
}
@media (min-width:768px){
    .bottomLayout{
        display: flex; 
        flex-direction: row; 
        width: 950px;
    }
    .dropDown{
        border-radius: 10px;
    }
} 
.topBar{
    width:200px; 
    flex-wrap: wrap; 
    display: flex;  
    flex-direction: row; 
    justify-content: space-around; 

    font-family: "Roboto"; 
}  
@media (min-width:768px){
    .topBar{
        width:650px; 
        display: flex;  
        flex-direction: row; 
        justify-content: space-around; 
        font-family: "Roboto";

    }
    .dropDown{
        border-radius: 10px;
    }
} 
.btn{
    background-color: transparent; 
    border: none; 
    margin: 2px;
    cursor: pointer;
    font-weight: bold;
} 
.btn:hover{
    background-color: rgb(243, 239, 239); 
    border: none; 
    margin: 2px; 
    color: black;
    border-radius: 50px;
    width: 100px;
} 
.unorderList{
    list-style-type: none;
} 
.speed{
    text-align: center; 
    font-weight: bold;
} 
.finish{
    color: yellow; 
    border: 1px solid gray;
}